<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>어디냥 | 메인화면</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="icon" href="static/favicon.png">
</head>

<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <p class="title">
                어디냐옹
            </p>
            <p class="subtitle">
                정글러들의 위치를 확인하기 위한 서비스
            </p>
        </div>
    </section>
    <section class="section is-medium">
        <div
            style="background-image: url('/static/뚱냥이.png');height: 400px; width: 400px; background-size: contain;background-repeat: no-repeat; background-position: center;">
            <a class="button" href="/login/form">시작하기</a>
        </div>


    </section>
    <footer class="footer">
        <div class="content has-text-left">
            <p>
                <strong>"어디냥..."</strong> by 김세연, 최상욱, 황교준 from Krafton Jungle. The source code is licensed
                <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
                is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
            </p>
        </div>
    </footer>
</body>

</html>