<section class="hero is-small is-primary">
    <div class="hero-body">
        <p class="title">
            어디냥
        </p>
        <p class="subtitle">
            정글러들의 현황
        </p>
    </div>
</section>

<section class="section" id="user_profile">
    <h1 class="title">나의 프로필</h1>
    <!-- 나의 프로필 영역 -->
    <div>
        <div class="columns is-mobile" id="user_info">
            <!-- 프로필 이미지 -->
            <div class="column">
                <figure class="image is-96x96">
                    <img class="is-rounded" style="width: 96px; height:96px;" src= {{ data.my_profile.cat_image_url }} >
                </figure>
            </div>
            <div class="column is-two-thirds tags are-normal">
                <!-- 이름 -->
                <div class="block">
                    <div class="tags has-addons">
                        <span class="tag is-dark">이름</span>
                        <span class="tag is-info">{{ data.my_profile.name }}</span>
                    </div>
                </div>

                <!-- 상태 -->
                <div class="control">
                    <div class="tags has-addons">
                        <span class="tag is-dark">상태</span>
                        <span class="tag is-info"> {{ data.my_profile.location }} </span>
                    </div>
                </div>
            </div>
        </div>

        <!-- 나의 프로필 변경 페이지를 뜨게 하는 버튼 -->
        <button class="button is-primary js-modal-trigger" data-target="update_user_profile">
            프로필 변경
        </button>
        <!-- 로그아웃 버튼 -->
        <button class="button is-danger" id="logoutBtn" onclick="logout()">
            로그아웃
        </button>
    </div>


</section>


<!-- 프로필 간의 경계 -->
<hr width="100%;" color="red" size="5">

<section class="section" id="other_profiles">
    <h1 class="title">
        크래프톤 5기 정글러들
        &nbsp;
        <button class="button is-active" id="renew-data-btn">갱신</button>
    </h1>    

    {% for item in data.other_students %}
        <div>
            <div class="columns is-mobile" id="user_info">
                <!-- 프로필 이미지 -->
                <div class="column">
                    <figure class="image is-96x96">
                        <img class="is-rounded" src="{{ item.cat_image_url }}" style="width: 96px; height: 96px;">
                    </figure>
                </div>
                <div class="column">
                    <!-- 이름 -->
                    <div class="block">
                        <div class="tags has-addons">
                            <span class="tag is-dark">이름</span>
                            <span class="tag is-info">{{ item.name }}</span>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="tags has-addons">
                        <span class="tag is-dark">상태</span>                                    
                        {% if item.location == "undefined" %}
                            <span class="tag is-info">미정</span>
                        {% elif item.location == "classroom" %}
                            <span class="tag is-info">강의실</span>
                        {% elif item.location == "dormitory" %}
                            <span class="tag is-info">기숙사</span>
                        {% elif item.location == "restaurant" %}
                            <span class="tag is-info">식당</span>
                        {% elif item.location == "laundry_room" %}
                            <span class="tag is-info">세탁실</span>
                        {% elif item.location == "out" %}
                            <span class="tag is-info">외출중</span>
                        {% elif item.location == "lounge" %}
                            <span class="tag is-info">라운지</span>
                        {% endif %}                        
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}


</section>

<footer class="footer">
    <div class="content has-text-left">
        <p>
            <strong>"어디냥..."</strong> by 김세연, 최상욱, 황교준 from Krafton Jungle. 
        </p>
    </div>
</footer>


<!-- 팝업  -->
<div class="modal" id="update_user_profile">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">사용자 프로필 수정 화면</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="columns is-mobile" id="user_info">
                <!-- 프로필 이미지 -->
                <div class="column">
                    <figure class="image is-96x96">
                        <img style="width: 96px;height: 96px;" id="profile_img" class="is-rounded" src= {{ data.my_profile.cat_image_url }}>
                    </figure>
                </div>
                <div class="column is-two-thirds tags are-normal">
                    <!-- 이름 -->
                    <div class="block">
                        <div class="tags has-addons">
                            <span class="tag is-dark">이름</span>
                            <span class="tag is-info">{{data.my_profile.name}}</span>
                        </div>
                    </div>

                    <!-- 상태 -->
                    <div class="control">
                        <div class="tags has-addons">
                            <span class="tag is-dark">위치</span>
                            {% if data.my_profile.location == "undefined" %}
                                <span class="tag is-info">미정</span>
                            {% elif data.my_profile.location == "classroom" %}
                                <span class="tag is-info">강의실</span>
                            {% elif data.my_profile.location == "dormitory" %}
                                <span class="tag is-info">기숙사</span>
                            {% elif data.my_profile.location == "restaurant" %}
                                <span class="tag is-info">식당</span>
                            {% elif data.my_profile.location == "laundry_room" %}
                                <span class="tag is-info">세탁실</span>
                            {% elif data.my_profile.location == "out" %}
                                <span class="tag is-info">외출중</span>
                            {% elif data.my_profile.location == "lounge" %}
                                <span class="tag is-info">라운지</span>
                            {% endif %}                        
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div>
                <!-- 표시이름 + 표시이름 변경 박스 -->


                <!-- 현재위치 + 현재위치 선택 박스 -->
                <div>
                    <span class="tag is-info">나의 위치를 알려줘!</span>
                    <div class="select">
                        <select id="loc_select">
                            {% for location in data.locations_to_select %}
                            <option value={{location[0]}}>{{location[1]}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div>
                    <!-- 랜덤고양이 + 랜던고양이 뽑기 버튼 -->
                    <span class="tag is-info">프로필 바꾸기</span>
                    <button class="button is-success" onclick ="change_profile()">고양이를 바꿔라!</button>
                </div>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button class="button is-success" onclick = "change()">수정하기</button>
            <button class="button">취소하기</button>
        </footer>
    </div>
</div>
