<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>어디냥 | 상태표시화면</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    
</head>

<body>
    <section class="hero is-small is-primary">
        <div class="hero-body">
            <p class="title">
                어디냥
            </p>
            <p class="subtitle">
                정글러들의 현황
            </p>
        </div>
    </section>

    <section class="section" id="user_profile">
        <h1 class="title">나의 프로필</h1>
        <!-- 나의 프로필 영역 -->
        <div>
            <!-- 스크롤 다운 비활성화 상태 -->
            <div class="columns is-mobile" id="user_info">
                <!-- 프로필 이미지 -->
                <div class="column">
                    <figure class="image is-96x96">
                        <img class="is-rounded" src="https://bulma.io/images/placeholders/96x96.png">
                    </figure>
                </div>
                <div class="column is-two-thirds tags are-normal">
                    <!-- 이름 -->
                    <div class="block">
                        <div class="tags has-addons">
                            <span class="tag is-dark">이름</span>
                            <span class="tag is-info">이름을 쓰는 공간 -> jinja 로 처리</span>
                        </div>
                    </div>

                    <!-- 상태 -->
                    <div class="control">
                        <div class="tags has-addons">
                            <span class="tag is-dark">상태</span>
                            <span class="tag is-info">상태를 쓰는 공간 -> jinja 로 처리</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 나의 프로필 변경 페이지를 뜨게 하는 버튼 -->
            <button class="button is-primary">
                나의 프로필 변경하기
            </button>

            <!-- 나의 프로필 변경 버튼을 누를 때 나타나는 화면 -->
            

            <!-- 스크롤 다운 버튼 -->

            <!-- 스르콜 다운 활성화 상태 -->

            <!-- 프로필 이미지 -->
            <!-- 이름 -->
            <!-- 상태 -->

            <!-- 한줄 구분 -->

            <!-- 표시이름 + 표시이름 변경 박스 -->

            <!-- 현재위치 + 현재위치 선택 박스 -->

            <!-- 랜덤고양이 + 랜던고양이 뽑기 버튼 -->
            <!-- 스크롤 다운 버튼 -->
        </div>

    </section>


    <!-- 프로필 간의 경계 -->
    <hr width="100%;" color="red" size="5">

    <section class="section" id="other_profiles">
        <h1 class="title">다른 프로필들</h1>
        <div id="사람1">
            <div>
                <div class="columns is-mobile" id="user_info">
                    <!-- 프로필 이미지 -->
                    <div class="column">
                        <figure class="image is-96x96">
                            <img class="is-rounded" src="https://bulma.io/images/placeholders/96x96.png">
                        </figure>
                    </div>
                    <div class="column">
                        <!-- 이름 -->
                        <div class="block">
                            <div class="tags has-addons">
                                <span class="tag is-dark">이름</span>
                                <span class="tag is-info">이름을 쓰는 공간 -> jinja 로 처리</span>
                            </div>
                        </div>

                        <!-- 상태 -->
                        <div class="control">

                        </div>
                    </div>
                    <div class="column">
                        <div class="tags has-addons">
                            <span class="tag is-dark">상태</span>
                            <span class="tag is-info">상태를 쓰는 공간 -> jinja 로 처리</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="사람2">
            <div>
                <div class="columns is-mobile" id="user_info">
                    <!-- 프로필 이미지 -->
                    <div class="column">
                        <figure class="image is-96x96">
                            <img class="is-rounded" src="https://bulma.io/images/placeholders/96x96.png">
                        </figure>
                    </div>
                    <div class="column">
                        <!-- 이름 -->
                        <div class="block">
                            <div class="tags has-addons">
                                <span class="tag is-dark">이름</span>
                                <span class="tag is-info">이름을 쓰는 공간 -> jinja 로 처리</span>
                            </div>
                        </div>

                        <!-- 상태 -->
                        <div class="control">

                        </div>
                    </div>
                    <div class="column">
                        <div class="tags has-addons">
                            <span class="tag is-dark">상태</span>
                            <span class="tag is-info">상태를 쓰는 공간 -> jinja 로 처리</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="사람3">
            <div>
                <div class="columns is-mobile" id="user_info">
                    <!-- 프로필 이미지 -->
                    <div class="column">
                        <figure class="image is-96x96">
                            <img class="is-rounded" src="https://bulma.io/images/placeholders/96x96.png">
                        </figure>
                    </div>
                    <div class="column">
                        <!-- 이름 -->
                        <div class="block">
                            <div class="tags has-addons">
                                <span class="tag is-dark">이름</span>
                                <span class="tag is-info">이름을 쓰는 공간 -> jinja 로 처리</span>
                            </div>
                        </div>

                        <!-- 상태 -->
                        <div class="control">

                        </div>
                    </div>
                    <div class="column">
                        <div class="tags has-addons">
                            <span class="tag is-dark">상태</span>
                            <span class="tag is-info">상태를 쓰는 공간 -> jinja 로 처리</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="content has-text-left">
            <p>
                <strong>"어디냥..."</strong> by 김세연, 최상욱, 황교준 from Krafton Jungle. The source code is licensed
                <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
                is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
            </p>
        </div>
    </footer>


    <!-- 팝업  -->
    <div class="modal">
        <div class="modal-background"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">Modal title</p>
            <button class="delete" aria-label="close"></button>
          </header>
          <section class="modal-card-body">
            <!-- 프로필 수정 입력 -->
          </section>
          <footer class="modal-card-foot">
            <button class="button is-success">Save changes</button>
            <button class="button">Cancel</button>
          </footer>
        </div>
      </div>
</body>

</html>