<!DOCTYPE html>
<!-- CSS 아직 적용 안함 -->


<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
  <link rel="icon" href="static/favicon.png">
  <title>어디냥 | 로그인</title>

  <!-- JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" crossorigin="anonymous"></script>


  <script>
    $(document).ready(function () {
      var jwt = localStorage.getItem('access_token'); // JWT를 로컬 스토리지에서 가져옵니다.
      if (jwt) {
        // 서버에 JWT 유효성 검사 요청
        $.ajax({
          url: '/verify-token', // JWT 유효성 검사를 위한 서버의 URL
          method: 'GET',
          headers: {
            'Authorization': 'Bearer ' + jwt
          },
          success: function (response) {
            // JWT가 유효한 경우,
            if (response.status == "success") {
              window.location.href = '/state'; 
            }
            console.log(response);
          },
          error: function () {
            // 오류 처리 (예: JWT가 유효하지 않음)
            
            localStorage.removeItem("access_token");
          }
        });
      }
    });
    function signIn() {
      let id = $("#id").val();
      let pw = $("#pw").val();

      $.ajax({
        type: "POST",
        url: "/login",
        data: { "id": id, "pw": pw },
        success: function (response) {
          if (response["status"] == "success") {
            localStorage.setItem("access_token", response["data"])
            location.href = "/state"
          }
          else {
            alert("로그인 실패");
          }
        }
      })
    }


  </script>

</head>

<body>
  <section class="hero is-small is-primary">
    <div class="hero-body">
      <p class="title">
        어디냥
      </p>
      <p class="subtitle">
        로그인
      </p>
    </div>
  </section>

  <section class="section is-medium" id="login_body">
    <!-- 아이디 입력 영역 -->
    <div class="container is-fluid">
      <div class="field">
        <label class="label">I.D</label>
        <div class="control">
          <input class="input" id="id" type="text" placeholder="누구냐옹">
        </div>
      </div>

      <!-- 비밀번호 입력 -->
      <div class="field">
        <label class="label">P.W</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input is-success" id="pw" type="password" placeholder="비밀번호를 대랴옹">
        </div>
      </div>

      <!-- 로그인 버튼 + 회원가입 버튼 -->
      <div class="field is-grouped">
        <div class="control">
          <button class="button is-link" onclick="signIn()">로그인</button>
        </div>
        <div class="control">
          <button class="button is-link is-light" onclick="location.href='/signup/form'">회원가입</button>
        </div>
      </div>

    </div>

  </section>


  <footer class="footer">
    <div class="content has-text-left">
      <p>
        <strong>"어디냥..."</strong> by 김세연, 최상욱, 황교준 from Krafton Jungle.
       
      </p>
    </div>
  </footer>
</body>

</html>