<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>어디냥 | 회원가입화면</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
</head>

<body>
    <h1 class="title">회원가입</h1>
    <section class="hero is-primary is-fullheight">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-5-tablet is-4-desktop is-3-widescreen">
                        <form action="" class="box">
                            <!-- 아이디 -->
                            <div class="field">
                                <label for="" class="label">아이디</label>
                                <div class="control has-icons-left">
                                    <input type="text" placeholder="예: meow1234" class="input" required>
                                    <span class="icon is-small is-left">
                                        <i class="fa fa-lock"></i>
                                    </span>
                                </div>
                            </div>


                            <!-- 이름 -->
                            <div class="field">
                                <label for="" class="label">이름</label>
                                <div class="control has-icons-left">
                                    <input type="text" placeholder="예: 김냐옹" class="input" required>
                                    <span class="icon is-small is-left">
                                        <i class="fa fa-lock"></i>
                                    </span>
                                </div>
                            </div>
                            <!-- 비밀번호 -->
                            <div class="field">
                                <label for="" class="label">비밀번호</label>
                                <div class="control has-icons-left">

                                    <input type="password" placeholder="*******" class="input" required>
                                    <span class="icon is-small is-left">
                                        <i class="fa fa-lock"></i>
                                    </span>
                                </div>
                            </div>
                            <!-- 비밀번호 확인 -->
                            <div class="field">
                                <label for="" class="label">비밀번호확인</label>
                                <div class="control has-icons-left">
                                    <input type="password" placeholder="*******" class="input" required>
                                    <span class="icon is-small is-left">
                                        <i class="fa fa-lock"></i>
                                    </span>
                                </div>
                            </div>
                            <!-- 이메일 -->
                            <div class="field">
                                <label for="" class="label">이메일</label>
                                <div class="control has-icons-left">
                                    <input type="email" placeholder="e.g. meow@gmail.com" class="input" required>
                                    <span class="icon is-small is-left">
                                        <i class="fa fa-envelope"></i>
                                    </span>
                                </div>
                            </div>
                            <!-- 전화번호 -->
                            <div class="field">
                                <label for="" class="label">전화번호</label>
                                <div class="control has-icons-left">
                                    <input type="email" placeholder="e.g. : 010-1234-5678" class="input" required>
                                    <span class="icon is-small is-left">
                                        <i class="fa fa-envelope"></i>
                                    </span>
                                </div>
                            </div>
                            <!-- 회원가입 버튼, 되돌아가기 버튼 -->
                            <div class="field">
                                <button class="button is-success">
                                    가입하기
                                </button>
                                <button class="button is-success">
                                    돌아가기
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="content has-text-left">
            <p>
                <strong>"어디냥..."</strong> by 김세연, 최상욱, 황교준 from Krafton Jungle. The source code is licensed
                <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
                is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
            </p>
        </div>
    </footer>
</body>

</html>